@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,400i,700&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  height: 100%;
  width: 100%;
  min-width: 1020px;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  min-height: 230px;
  height: 1px;
  background-color: #dcdcdc;
}
.header__contacts {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.5rem;
  color: #767676;
  line-height: 1.15;
  text-align: right;
  letter-spacing: -4px;
}
.header__contacts span {
  display: block;
}
.header__contacts span a {
  color: #767676;
}
.header__company {
  visibility: hidden;
  font-size: 0;
}
.menu {
  min-height: 80px;
  height: 1px;
  background-color: #767676;
}
.menu__items {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu__items li {
  flex-grow: 1;
  text-align: center;
  line-height: 1;
}
.menu__items li:not(:last-child) {
  border-right: #ffffff solid 2px;
}
.menu__item {
  font-size: 1.875rem;
  font-weight: normal;
  color: #ffffff;
}
.menu__item:hover {
  border-bottom: #ffffff solid 2px;
}
.banner {
  min-height: 380px;
  height: 1px;
  background-color: #f8f8f8;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 264px;
  height: 300px;
  padding-top: 25px;
  padding-bottom: 45px;
  background-color: #ebebeb;
}
.form__input {
  width: 218px;
  height: 49px;
  padding: 0 25px;
  font-size: 1.5rem;
  color: #767676;
  background-color: #ffffff;
}
.form__submit {
  width: 217px;
  height: 62px;
  font-size: 24px;
  color: #ffffff;
  background-color: #6f6f6f;
}
.content {
  padding: 50px 0 100px;
}
.content .wrapper {
  align-items: flex-start;
}
.content__news {
  height: 100%;
  width: 35%;
}
.content__article {
  height: 100%;
  width: 65%;
}
.news-block {
  padding: 25px 40px 100px 35px;
  color: #ffffff;
  text-align: left;
  background-color: #767676;
}
.news-block__title {
  margin-bottom: 35px;
  font-size: 2.5rem;
  font-weight: bold;
}
.news-block__item {
  margin-bottom: 35px;
  line-height: 1.5;
}
.news-block__item time {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
}
.news-block__item a {
  color: #ffffff;
}
.news-block__item a:hover {
  text-decoration: underline;
}
.news-block__archive {
  text-align: right;
}
.news-block__archive a {
  color: #ffffff;
  text-decoration: underline;
}
.article {
  padding: 25px 0 100px 60px;
  text-align: left;
  color: #767676;
}
.article__title {
  font-weight: 300;
  font-size: 2.5rem;
}
.article__text {
  margin-top: 35px;
  font-size: 0.875rem;
  line-height: 1.6;
}
